<!-- <ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app> -->

<!-- <ion-app>
    <ion-menu-toggle contentId="content1">
      <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
              </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <p href="/contact">test</p>
        <a routerLink="/contact">Hello</a>

      </ion-content>
    </ion-menu-toggle>
    <ion-router-outlet id="content1" main></ion-router-outlet>
  </ion-app> -->




<ion-app>
  <ion-menu side="start" menuId="first">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="goToSecondPage()">Contact</ion-item>
        <ion-item>NoData</ion-item>
        <ion-item>NoData</ion-item>
        <ion-item>NoData</ion-item>
        <ion-item>NoData</ion-item>
      </ion-list>
    </ion-content>

  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>